@font-face {
    font-family:AzarMehr;
    src: url(/frontEnd/public/fonts/AzarMehr-Medium.ttf);
}
@font-face {
    font-family:AzarMehr;
    src: url(/frontEnd/public/fonts/AzarMehr-ExtraBold.ttf);
}
@font-face {
    font-family:AzarMehr;
    src: url(/frontEnd/public/fonts/Digit/AzarMehr-FD-Medium.woff2);
}