:root {
  /* --primary-color: #00aa6c; */
  --primary-color: #F15A29;
  --dark-color: #000000;
  --gray-color: #adaaad;
  --gray-back: #f2f2f2;
  --yellow-color: #fdc735;
  --main-font: AzarMehr;
  --main-shadow: 1px 3px 12px -4px rgba(0, 0, 0, 0.75);
}
